{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "db_server": "<yourserver>.database.windows.net",
    "db_database": "hands_on_db",
    "db_user": "<your_admin_user>",
    "db_password": "<your_password>"
  }
}