{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "location": {
      "value": "japaneast"
    },
    "env": {
      "value": "dev"
    },
    "nameSuffix": {
      "value": "handson"
    },
    "sqlAdminUsername": {
      "value": "sqladmin"
    },
    "sqlAdminPassword": {
      "value": "YOUR_PASSWORD_HERE"
    },
    "allowedIps": {
      "value": [
        "YOUR_IP_ADDRESS_HERE"
      ]
    },
    "apimSkuName": {
      "value": "Developer"
    },
    "apimSkuCapacity": {
      "value": 1
    },
    "apimPublisherEmail": {
      "value": "admin@example.com"
    },
    "apimPublisherName": {
      "value": "Contoso"
    },
    "enablePrivateEndpoints": {
      "value": false
    }
  }
}
